<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <!-- <script src="js/java.js"></script> -->
</head>
<body onload="onPageLoad()">
    <div class="container">
        <div class="navbar">
            <img src="#" alt="#" class="logo">
            <nav>

            </nav>
        </div>
    </div>
    
<div id="cover" class="cover">
    <div class="navi">
        WELCOME TO YOUR TOP SPOTIFY
    </div>
    <div class="singles">
        <button id="singles-btn" class="singles-btn" onclick="getSongs()">Top Songs</button>
    </div>
    <div class="artists">
        <button id="artists-btn" class="artists-btn" onclick="getArtists()">Top artists</button>
    </div>
</div>
<div id="API" class="API">
    <div class="list">
        <ol id="list" class="results"></ol>
    </div>
</div>


<script src="js/java.js"></script>
</body>
</html>