<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <!-- <script src="js/java.js"></script> -->
</head>
<body>
    <div class="containers">
        <div class="navbar">
            <img src="#" alt="" class= "logo">
            <nav>
                WELCOME TO YOUR TOP SPOTIFY
            </nav>
        </div>
    </div>


    <div class="login-contain">
        <div class="welcome">
            welcome  <br><br> Login to Spotify and see your TOP 10 artist and songs of all time!
        </div>
        <div class="button-log">
            <button class="login-btn" onclick="authorize()">Login to Spotify</button>
        </div>
    </div>


    <script src="../js/java.js"></script>
    <script src="../app.js"></script>
</body>
</html>